.container {
    margin-bottom: 60px;
}

.navList {
    display: flex;
    gap: 20px;
}

.link {
    font-size: 30px;
    text-decoration: none;
    border-radius: 10px;
    padding: 30px;
    color: blue;
}

.active {
    color: #fff;
    background-color: blue;
}