.navList {
    display: flex;
}

.link {
    font-size: 40px;
    text-decoration: none;
    color: blue;
    padding: 30px;
    border-radius: 20px;
}

.active {
    color: #fff;
    background-color: blue;
}